# bannière.html
# dynamic-form.html
# imageOrder.html
# menu-scroll-down.html
# round-photo.html
# type-effect.html
# valid-form.html
# shopping-list.html
# star.html
# slider.html

/src/banniere.js
/src/dynamicForm.js
/src/menu.js
/src/validForm.js
/src/typeEffect.js
/src/shopping-list.js
/src/star.js
/src/slider.js
/src/addSideBar.js

/assets/stylesheet/css/banniere.css
