#banner{
  position: fixed;
  bottom: 0px;
  height: 200px;
  background-color: gray;
  width: 100%;
  display: none;
}

#banner span{
  position: absolute;
  right: 20px;
  border-radius: 20px;
  top: 20px;
  border : 2px solid black;
  padding: 10px;
  transition: .3s;
}

#banner span:hover{
  background-color: black;
  color: white;
  transition: .3s;
  border : 2px solid white;
  cursor: pointer;
}

