body{
  background-color: white; 
  font-family: 'Roboto', sans-serif;
}

h1{
  margin-top: 150px; 
  text-align: center; 
  color: gray;
}

.brief{
  text-align: center;
}

.round-photo {
  border-radius: 50%;
  transition: .4s;
}

.shadow{
  box-shadow: 3px 3px 3px gray;
  transition: .3s;
}
